# =========================
# macOS
# =========================
.DS_Store


# =========================
# Xcode
# =========================
DerivedData/
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout


# =========================
# Build artifacts
# =========================
build/
*.ipa
*.dSYM
*.dSYM.zip


# =========================
# CocoaPods
# =========================
Pods/


# =========================
# Logs & temp files
# =========================
*.log
*.tmp
